@page "/contact/"
@using Portfolio.Components.Header
@using Portfolio.Components.Footer
@using Portfolio.Shared

<PageTitle>Eliott Barker - Contact</PageTitle>
<Header CurrentPage=Tabs.Contact />

<div class="contact">
    <div class="contact-info">
        <h3>Informations de contact</h3>
        <p>email: <a href="mailto:contact@eliott-b.fr">contact@eliott-b.fr</a></p>
    </div>
</div>

<Footer />
