/* /Components/Footer.razor.rz.scp.css */
footer[b-w092t05iis], footer > p[b-w092t05iis], footer > a[b-w092t05iis] {
    text-align: center;
    padding: 1px;
    margin: 1px;
    font-size: 0.95em;
    font-style: italic;
}

footer[b-w092t05iis] {
    margin-top: 2em;
    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; */
    padding-bottom: 0.5em;
}

footer > a[b-w092t05iis] {
    color: #41bc58;
    text-decoration: none;
}

footer > a:hover[b-w092t05iis] {
    text-decoration: underline;
}
/* /Components/Header.razor.rz.scp.css */
.top[b-flixbfxj4t] {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

header[b-flixbfxj4t] {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > img[b-flixbfxj4t] {
    height: 7em;
}

header > h1[b-flixbfxj4t] {
    font-size: 2.6em;
    margin-left: 1em;
    font-family: header;
    font-weight: bold;
}

nav[b-flixbfxj4t] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin-left: -2em;
}

nav ul li[b-flixbfxj4t] {
    display: inline-block;
    list-style-type: none;
}

nav ul li[b-flixbfxj4t] {
    margin: 0 1em;
}

nav ul li a[b-flixbfxj4t] {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-family: header;
}

.active a[b-flixbfxj4t] {
    color: #41bc58;
    text-decoration: underline;
}

nav ul li a:hover[b-flixbfxj4t] {
    color: #41bc58;
    text-decoration: underline;
}
/* /Pages/Contact/Contact.razor.rz.scp.css */
.contact[b-3ufeq4svxu] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/* /Pages/Home/Home.razor.rz.scp.css */
.home[b-250ve3k30z] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home > p[b-250ve3k30z] {
    text-align: center;
    width: 75%;
}

.home > ul[b-250ve3k30z] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.home > ul > li[b-250ve3k30z] {
    margin: 0.5em;
}

/* 
linkedin button : Mangesh636 (https://uiverse.io/profile/Mangesh636)
github button : Mangesh636 (https://uiverse.io/profile/Mangesh636)
*/

/* LINKEDIN */
.bu-linkedin[b-250ve3k30z] {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(0, 119, 181);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(0, 119, 181);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

.bu-linkedin span[b-250ve3k30z] {
    margin: 10px;
}

.bu-linkedin[b-250ve3k30z]::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.bu-linkedin:hover[b-250ve3k30z] {
    color: #fff;
    border: 1px solid rgb(0, 119, 181);
}

.bu-linkedin:hover[b-250ve3k30z]::before {
    box-shadow: inset 0 0 0 10em rgb(0, 119, 181);
}

/* GITHUB */
.bu-github[b-250ve3k30z] {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(36, 41, 46);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(36, 41, 46);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}
  
.bu-github span[b-250ve3k30z] {
    margin: 10px;
}
  
.bu-github[b-250ve3k30z]::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}
  
.bu-github:hover[b-250ve3k30z] {
    color: #fff;
    border: 1px solid rgb(36, 41, 46);
}
  
.bu-github:hover[b-250ve3k30z]::before {
    box-shadow: inset 0 0 0 10em rgb(36, 41, 46);
}
  
/* /Pages/Projects/Projects.razor.rz.scp.css */
/* /Pages/Studies/Studies.razor.rz.scp.css */
/* /Pages/Works/Works.razor.rz.scp.css */
