@page "/experiences/"
@using Portfolio.Components
@using Portfolio.Shared

<PageTitle>Eliott Barker - Expériences</PageTitle>
<Header CurrentPage=Tabs.Experiences />

<div class="expierences">
    <div class="exp">
        <img src="" alt="E2-CAD"/>
        <h3>Développeur logiciels outils</h3>
        <h4>E2-CAD</h4>
        <h5>Alternance</h5>
        <p>2023-2025</p>
        <p>Eragny</p>
        <p>
            Développement d’outils logiciel pour aide à l’intégration de logiciels embarqués automobile et tests de cartes électroniques.
            <br/>
            Développement d’outil permettant la gestion de projet informatique ou global. 
            <br/>
            Aide à l’intégration d’un stagiaire et d’un salarié dans le projet outil
        </p>
    </div>
    <div class="exp">
        <img src="" alt="ABB"/>
        <h3>Stage d'observation</h3>
        <h4>ABB</h4>
        <h5>Stage</h5>
        <p>2019</p>
        <p>Les Ulis</p>
        <p>
            Observation de l'entreprise et du monde professionnelObservation de l'entreprise et du monde professionnel
        </p>
    </div>
</div>

<Footer />
