.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding-top: 2em;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    padding: 1.75em;
    border: 1px solid #828282;
    border-radius: 2em;
}

.project > .photo > img {
    /* width: 8em; */
    height: 9em;
}

.project > .content {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.project > .content > h3 {
    padding: 0.25em;
    margin: 0.25em;
}
.project > .content > h4 {
    padding: 0.25em;
    margin: 0.25em;
}
.project > .content > h5 {
    padding: 0.25em;
    margin: 0.25em;
}
.project > .content > p {
    padding: 0.25em;
    margin: 0.25em;
}

.project a {
    text-decoration: none;
    color: #41bc58;
    font-size: 1.1em;
    font-family: header;
}

.project a:hover {
    text-decoration: underline;
}
