@page "/projets/"
@using Portfolio.Components
@using Portfolio.Shared

<PageTitle>Eliott Barker - Projets</PageTitle>
<Header CurrentPage=Tabs.Projects />

<div class="projects">
    <div class="project">
        <div class="photo">
            <img src="assets/projects/terminal-des-devs/logo_tdd.png" alt="Terminal des devs"/>
        </div>
        <div class="content">
            <h3><a href="/projets/terminal-des-devs">Terminal des devs</a></h3>
            <h4>Projet personnel</h4>
            <h5>2021-actuel</h5>
            <p>
                Communauté
            </p>
        </div>
    </div>
</div>

<Footer />
