@page "/projets/terminal-des-devs"
@using Portfolio.Components
@using Portfolio.Shared

<PageTitle>Eliott Barker - Terminal des devs</PageTitle>
<Header CurrentPage=Tabs.Projects />

<div class="project">
    <img src="assets/projects/terminal-des-devs/banner_tdd.png" alt="Terminal des devs" height="350em"/>
</div>

<Footer />
