@page "/"
@using Portfolio.Components

<PageTitle>Eliott B</PageTitle>
<Header Title="Eliott B" ImagePath="assets/logo.png"/>

<h2>Bonjour</h2>

<p>
    Je m'appelle Eliott. Je suis un étudiant en réalisation d'application en alternance.<br>
    Je suis passionné d'informatique et de nouvelles technologies.<br>
    Vous trouverez sur ce site toutes les informations sur mes projets, mes études ou mes expériences professionnelles.
</p>

<Footer />
