@code {
    [Parameter]
    public string Title { get; set; } = "Eliott";

    [Parameter]
    public string ImagePath { get; set; } = "";
}

<header>
    <img src="@ImagePath" alt="Logo" />
    <h1>@Title</h1>
</header>
