.top {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > img {
    height: 7em;
}

header > h1 {
    font-size: 2.6em;
    margin-left: 1em;
    font-family: header;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin-left: -2em;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-family: header;
}

.active a {
    color: #41bc58;
    text-decoration: underline;
}

nav ul li a:hover {
    color: #41bc58;
    text-decoration: underline;
}
