<div class="construction-wrapper">
    <div class="construction">
        <h1>En construction</h1>
        <p>
            Cette page est en cours de construction. Merci d'être indulgent en cas de bug et sur le style.
        </p>
    </div>
</div>
