footer, footer > p, footer > a {
    text-align: center;
    padding: 1px;
    margin: 1px;
    font-size: 0.95em;
    font-style: italic;
}

footer {
    margin-top: 2em;
    padding-bottom: 0.5em;
    border-top: #828282 1.5px solid;
    padding-top: 0.5em;
}

footer a {
    color: #41bc58;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
