<footer>
    <p>Eliott Barker</p>
    <a href="https://wwww.github.com/Eliott-B/me-website">Code source</a> <br />
    <a href="/contact">Contact</a> <br />
    <a href="/plan-du-site">Plan du site</a>
    <p>&copy; 2024 Eliott Barker. Tous droits réservés. Ce site est sous licence GNU General Public License v3.</p>
</footer>
