@page "/etudes/"
@using Portfolio.Components
@using Portfolio.Shared

<PageTitle>Eliott Barker - Etudes</PageTitle>
<Header CurrentPage=Tabs.Studies />

<div class="studies">
    <div class="school">
        <div class="photo">
            <img src="assets/studies/uvsq.jpg" alt="IUT Vélizy"/>
        </div>
        <div class="content">
            <h3>IUT de Vélizy</h3>
            <h4>BUT Informatique</h4>
            <h5>Parcours réalisation d'application</h5>
            <p>UVSQ - Université de Versailles Saint-Quentin-en-Yvelines</p>
            <p>2022-2025</p>
        </div>
    </div>
    <div class="school">
        <div class="photo">
            <img src="" alt="Lycée René Cassin"/>
        </div>
        <div class="content">
            <h3>Lycée René Cassin</h3>
            <h4>Baccalauréat Général</h4>
            <h5>Mathématiques, Numérique et Science de l'Informatique, Science de l'Ingénieur</h5>
            <p>Arpajon</p>
            <p>2019-2022</p>
            <p>Mention bien</p>
        </div>
    </div>
</div>

<Footer />
