@page "/"
@using Portfolio.Components
@using Portfolio.Shared

<PageTitle>Eliott Barker - Portfolio</PageTitle>
<Header CurrentPage=Tabs.Home />

<div class="home">
    <h2>Bonjour</h2>

    <p>
        Je m’appelle Eliott. Je suis étudiant en BUT Informatique et alternant en développement logiciel. Je suis passionné d’informatique depuis petit. J’entreprends des projets informatiques depuis l’âge de 8 ans.
        <br />
        Actuellement j’ai acquis beaucoup de compétences pendant mes études et mon alternance mais je me suis principalement formé de manière autodidacte. 
        <br />
        J’essaye de toujours avoir un projet personnel en cours. Depuis 2021, je me suis lancé dans la création d’une communauté en ligne de développeur et de passionné informatique. 
        <br />
        Je suis passionné par l'informatique et les nouvelles technologies. J’aime apprendre et découvrir de nouvelles choses. J’aime aussi partager mes connaissances et mes expériences. 
        Je suis aussi un grand passionné d'automobile et de sport automobile. Je suis aussi un grand joueur de jeux vidéo.
        <br />
        <br />
        Vous pouvez avoir plus d’informations et de détails sur chaque projets, études et expériences dans les différentes pages de ce portfolio.
        <br />
        Ce site est un projet personnel conçu entièrement par moi-même et qui a pour but d’évoluer dans le temps.
    </p>
</div>

<Footer />
