@page "/"
@using Portfolio.Components
@using Portfolio.Shared

<PageTitle>Eliott Barker - Portfolio</PageTitle>
<Header CurrentPage=Tabs.Home />

<h2>Bonjour</h2>

<p>
    Je m'appelle Eliott. Je suis un étudiant en réalisation d'application en alternance.<br>
    Je suis passionné d'informatique et de nouvelles technologies.<br>
    Vous trouverez sur ce site toutes les informations sur mes projets, mes études ou mes expériences professionnelles.
</p>

<Footer />
