@page "/plan-du-site"
@using Portfolio.Components.Header
@using Portfolio.Components.Footer

<PageTitle>Eliott Barker - Plan du site</PageTitle>
<Header />

<div class="plan-wrapper">
    <div class="plan">
        <h2>Plan du site</h2>

        <ul>
            <li><a href="/">Accueil</a></li>
            <li>
                <a href="/projets">Projets</a>
                <ul>
                    <li><a href="/projets/terminal-des-devs">Terminal des devs</a></li>
                    <li><a href="/projets/codered">CodeRed</a></li>
                    <li><a href="/projets/xilium">Xilium</a></li>
                    <li><a href="/projets/24hinfo">24h informatique</a></li>
                    <li><a href="/projets/serveur-de-jeux">Serveur de jeux</a></li>
                    <li><a href="/projets/diamant">Jeu Diamant</a></li>
                </ul>
            </li>
            <li><a href="/etudes">Études</a></li>
            <li><a href="/experiences">Expériences</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>

<Footer />
